@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Kiwi Maru';
}

.Login__wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Login__wrapper .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    object-fit: cover;
}

.Login__wrapper .Login__bd__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.Login__wrapper .big__fream {
    width: auto;
    height: auto;
    transform: scale(0.8);
}

.Login__name__input,
.Login__pass__input,
.Login__tel__input {
    display: block;
    width: 360px;
    height: 54px;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 36px;
    box-sizing: border-box;
    background-color: white;
    color: black;
    position: relative;
    z-index: 1;
    pointer-events: auto;
    text-align: left;
    direction: ltr;
    padding-left: 54px;
    outline: none;
    opacity: 0.4;
    font-size: 16px;
    letter-spacing: 1px;
}

.Login__name__input:hover,
.Login__pass__input:hover,
.Login__tel__input:hover
{
    border: solid 2px #369f98;
    background-color: rgba(55, 160, 153, 0.3);
}

.Login__links {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    pointer-events: auto;
    color: #fff;
}

.Login__links:first-child {
    font-size: 10px;
}

.Login__links a {
    text-decoration: none;
    margin: 0 10px;
    z-index: 12;
    cursor: pointer;
    transition: transform 0.6s ease, opacity 0.6s ease, color 0.6s ease;
    pointer-events: auto;
    color: #fff;
}

.Login__links a:hover {
    color: #395b59;
    opacity: 0.8;
    text-shadow: 1px 1px 2px rgba(64, 64, 64, 0.5);
}

form {
    width: 100%;
    max-width: 400px;
}

.Login__bd__image {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fream {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    pointer-events: none;
}

form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    color: #fff;
}

h1 {
    margin-bottom: 30px;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(64, 64, 64, 0.5);
    text-align: center;
}

.Login__input {
    padding: 6px 0;
}

.Login__button {
    padding: 10px 0 4px;
    pointer-events: auto;
    z-index: 10;
    position: relative;
}

.contents {
    margin-left: 110px;
    font-weight: 600;
}

.Login__button button {
    color: #ebebeb;
    background-color: #37a099;
    box-shadow: 1px 1px 8px 2px rgba(64, 64, 64, 0.3);
    border-radius: 36px;
    padding: 20px 80px;
    font-size: 20px;
    transition: transform 0.6s ease, opacity 0.6s ease;
    cursor: pointer;
}

.Login__submit:hover {
    opacity: 0.7;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    width: 16px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
    margin-right: 8px;
    pointer-events: auto;
    z-index: 11;
    border: rgba(203, 245, 238, 0.4) 1.6px solid;
}


.contents input[type="checkbox"]:checked::after {
    content: '✔';
    font-size: 18px;
    color: #37a099;
    display: block;
    line-height: 12px;
    font-weight: bold;
}

.check__box {
    margin-left: 10px;
    pointer-events: auto;
}

.check__box label {
    display: flex;
    align-items: center;
}

.Login__name,
.Login__Pass,
.Login__tel {
    display: block;
    text-align: left;
    margin-left: 26px;
    font-size: 16px;
    color: #fff;
}


.input-container{
    position: relative;
}

.input-container .iconfont {
    position: absolute;
    left: 5%;
    bottom: 21%;
}