{% extends "base.html" %}

{% block title %}
live
{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
{% endblock %}

{% block content %}
<!-- ＊＊＊＊＊＊＊＊＊＊＊＊＊＊header＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->
{% include "navigation.html" %}
<!-- /header -->

<h1>live</h1>
<video id="localVideo" autoplay playsinline muted></video>
<script src="{{ url_for('static', filename='js/broadcaster.js') }}"></script>


<!-- ＊＊＊＊＊＊＊＊＊＊＊＊＊＊footer＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->
<div class="footer__copyright">
    <p>
        <span>
            &copy;2025 HAL Brian Slice.
        </span>
    </p>
</div>

<!-- /footer -->
{% endblock %}