<div class="open__btn">
    <span class="line _1"></span>
    <span class="line _2"></span>
    <span class="line _3"></span>
</div>

<!-- /ハンバーグメニュー -->
<!-- ＊＊＊＊＊＊＊＊＊＊＊＊＊＊ナビゲーションメニュー＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->

<nav class="header__navigation">
    <ul>
        <li>
            <a href="{{url_for('hello')}}">
                <h2>マップ</h2>
                <p>Map</p>
            </a>
        </li>
        <li>
            <a href="{{url_for('login')}}">
                <h2>ログイン</h2>
                <p>log in</p>
            </a>
        </li>
        <li>
            <a href="{{url_for('mypage')}}">
                <h2>マイページ</h2>
                <p>My page</p>
            </a>
        </li>
        <li>
            <a href="{{url_for('shop')}}">
                <h2>グッズショップ</h2>
                <p>Goods shop</p>
            </a>
        </li>
        <li>
            <a href="{{url_for('feed_live')}}">
                <h2>ライブ配信</h2>
                <p>Live Streaming</p>
            </a>
        </li>
        <li>
            <a href="{{url_for('feed_live')}}">
                <h2>餌やり</h2>
                <p>Feeding Animals</p>
            </a>
        </li>

    </ul>
</nav>