{% extends "base.html" %}

{% block title %}
ショップバックエンド
{% endblock %}

{% block content %}
<!-- ＊＊＊＊＊＊＊＊＊＊＊＊＊＊header＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->
{% include "navigation.html" %}
<!-- /header -->

<!-- ＊＊＊＊＊＊＊＊＊＊＊＊＊＊ホームページ＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->
<!-- ＊＊＊＊＊＊＊＊＊＊＊＊＊＊装飾＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->
<div class="home__wrapper">
    <div class="items__1"></div>
    <div class="items__2"></div>
    <div class="items__3"></div>
</div>
<!-- /装飾 -->

<!--＊＊＊＊＊＊＊＊＊＊＊＊＊＊ショップエリア＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->

<div class="shop__wrapper">
    <h2>グッズショップ</h2>
    <p>カピバラ</p>
    <div class="shop__item">
        <img src="img/shop__item__1.jpg" alt="">
        <h2>商品名</h2>
        <p>商品説明</p>
        <p>価格</p>
        <button>カートに入れる</button>
    </div>
    <div class="shop__item">
        <img src="img/shop__item__1.jpg" alt="">
        <h2>商品名</h2>
        <p>商品説明</p>
        <p>価格</p>
        <button>カートに入れる</button>
    </div>
    <div class="shop__item">
        <img src="img/shop__item__1.jpg" alt="">
        <h2>商品名</h2>
        <p>商品説明</p>
        <p>価格</p>
        <button>カートに入れる</button>
    </div>
    <div class="shop__item">
        <img src="img/shop__item__1.jpg" alt="">
        <h2>商品名</h2>
        <p>商品説明</p>
        <p>価格</p>
        <button>カートに入れる</button>
    </div>
    <div class="shop__item">
        <img src="img/shop__item__1.jpg" alt="">
        <h2>商品名</h2>
        <p>商品説明</p>
        <p>価格</p>
        <button>カートに入れる</button>
    </div>
    <div class="shop__item">
        <img src="img/shop__item__1.jpg" alt="">
        <h2>商品名</h2>
        <p>商品説明</p>
        <p>価格</p>
        <button>カートに入れる</button>
    </div>
</div>


<!-- ＊＊＊＊＊＊＊＊＊＊＊＊＊＊footer＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->
{% include "footer.html" %}
<!-- /footer -->
{% endblock %}